.cart {
  width: 500px;
  height: calc(100vh - 56px);
  position: absolute;
  top: 56px;
  right: 0;
  background-color: rgba(0, 0, 0,  .65);
  color: white;
}

.imgHolder {
  height: 110px;
}

.qtyButton {
  height: 40px;
  width: 40px;
}
